@font-face {
  font-family: "Poppins";
  src: url("../../Assets/Fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsLight";
  src: url("../../Assets/Fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../../Assets/Fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../../Assets/Fonts/Nunito/static/Nunito-Light.ttf");
}
@font-face {
  font-family: "NunitoMedium";
  src: url("../../Assets/Fonts/Nunito/static/Nunito-Medium.ttf");
}
.contentContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 74px;
  gap: 26px;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
}
.activeImage {
  position: relative;
}
.activeImage img {
  width: 636px;
  height: 636px;
  border-radius: 16px;
}
.allImages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 636px;
}
.allImages img {
  width: 191px;
  height: 191px;
  border-radius: 16px;
}
.activeImage .carouselArrow {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 50%;
  right: 23px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  border-radius: 50%;
}
.carouselArrow:hover {
  transform: scale(1.05);
  border: 1px solid #fff;
}
.content h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.01em;
  width: 606px;
  margin: 12px 0 7px 0;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  margin-bottom: 7px;
}
.rating span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01em;
  margin-left: 4px;
  color: #646665;
}
.cost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 36px;
}
.cost img {
  width: 20px;
  height: 20px;
}
.cost span {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #0c0c0c;
}
.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 52px;
}
.tags span {
  font-family: "NunitoMedium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.tags div {
  padding: 8px 12px;
  border-radius: 12px;
}
.tags div:first-of-type {
  background: #eaf2ea;
  border: 1px solid #9db29d;
}
.tags div:nth-of-type(2) {
  background: #f0f0f0;
}
.tags div:last-of-type {
  background: #fafafa;
  span {
    color: #c5c5c5;
  }
}
.options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  margin-bottom: 49px;
}
.options .ranger {
  padding: 0 22px;
  width: 262px;
  height: 58px;
  border-radius: 12px;
  border: 1px solid #676767;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.options .ranger svg {
  cursor: pointer;
}
.options .ranger span {
  font-family: "PoppinsLight", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.options button {
  padding: 19px 103px;
  border-radius: 12px;
  background: #3a643b;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.info {
  width: 606px;
  margin-bottom: 48px;
}
.info p {
  font-family: "PoppinsLight", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #2e2f2e;
  margin: 0;
}
.highlights {
  margin-bottom: 48px;
}
.highlights .heading,
.ingredients .heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 24px;
}
.highlights .heading img,
.ingredients .heading img {
  width: 42px;
  height: 32px;
}
.highlights .heading h4,
.ingredients .heading h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #2e2f2e;
  margin: 0;
}
.highlightContainer,
.ingredientContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.ingredientContainer {
  margin-bottom: 48px;
}
.instructions,
.genInstructions {
  margin-bottom: 48px;
}
.instructions h4,
.genInstructions h4,
.questions h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin: 0;
  margin-bottom: 12px;
}
.wrapper {
  width: 633px;
  border-radius: 12px;
  background: #f5f3fc;
}
.wrapper p {
  padding: 20px 0 20px 12px;
  font-family: "PoppinsLight", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #646665;
  margin: 0;
}
.instructions p {
  padding-right: 18px;
  font-size: 18px;
}
.genInstructions p {
  font-size: 16px;
}
.questions p {
  font-size: 14px;
  line-height: 20px;
  padding-top: 0;
  padding-right: 18px;
}
.questions h5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #2e2f2e;
  padding: 20px 15px 14px 12px;
  margin: 0;
}
.ques2 p {
  padding-right: 20px;
}
.questions {
  margin-bottom: 38px;
}
.video {
  margin-bottom: 65px;
  position: relative;
}
.video h5 {
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #2e2f2e;
}
.video img {
  width: 599px;
  height: 320px;
  border-radius: 12px;
  background: #f5f3fc;
}
.video .play {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 45%;
  right: 45%;
  background: none;
  cursor: pointer;
}
.reviews {
  margin: 0 72px 88px 72px;
}
.reviews h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #2e2f2e;
  text-align: center;
}
.reviewContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 34px;
}
.reviewContainer .s1 h2 {
  font-family: "NunitoMedium", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.01em;
  color: #0c0c0c;
}
.s1 {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background: #fafafa;
  width: 308px;
  height: 124px;
  border-radius: 12px;
}
.stars svg {
  margin: 0 4px;
}
.s1 span {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #2e2f2e;
}
.s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.s2 div {
  width: 156px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s2 span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #3a643b;
}
.doctors {
  margin-top: 137px;
}
.doctors h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  margin: 0;
  margin-bottom: 114px;
}
.doctorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 31px;
}
.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.circles svg {
  width: 12px;
  height: 12px;
}
.moreBtn {
  width: 276px;
  padding: 0px 25px 0px 25px;
  border-radius: 7px;
  border: 1px solid #3a643b;
  background: #dbe3dc63;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.moreBtn span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -0.01em;
  color: #3a643b;
}
.arrowContainer {
  width: 70px;
  height: 70px;
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrowContainer img {
  width: 23px;
}
.mobileVis {
  display: none;
}
.desktopVis {
  display: block;
}
.bottomMenu {
  display: none;
}
.viewCart {
  display: none;
}
.separation {
  display: none;
}
@media (max-width: 1350px) {
  .contentContainer {
    gap: 0;
  }
  .activeImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .activeImage .carouselArrow {
    right: 15%;
  }
  .activeImage img {
    width: 75%;
    height: 75%;
  }
  .allImages {
    display: none;
  }
  .options button {
    padding: 19px 50px;
  }
  .options .ranger {
    width: 162px;
  }
}
@media (max-width: 1290px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
  }
  .content {
    margin: 0 auto;
  }
  .video img {
    width: 100%;
  }
  .highlightContainer,
  .ingredientContainer {
    justify-content: center;
  }
}
.addedSuccess {
  display: none;
}
@media (max-width: 1240px) {
  .arrowContainer {
    display: none;
  }
}
@media (max-width: 1035px) {
  .doctorContainer {
    width: 90%;
    overflow: scroll;
    gap: 16px;
    justify-content: flex-start;
    scrollbar-width: 0;
    margin: 0 auto;
    margin-bottom: 31px;
  }
  .doctorContainer::-webkit-scrollbar {
    display: none;
  }
  .doctorContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@media (max-width: 990px) {
  .circles {
    display: none;
  }
}
@media (max-width: 900px) {
  .reviewContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .s2 {
    margin-bottom: 20px;
  }
  .reviewContainer {
    flex-direction: column;
    align-items: center;
  }
  .s1 {
    margin-bottom: 20px;
    width: 100%;
  }
  .mobileVis {
    display: block;
  }
  .desktopVis {
    display: none;
  }
}
@media (max-width: 700px) {
  .highlightContainer,
  .ingredientContainer {
    flex-wrap: wrap;
  }
  .reviews {
    margin-bottom: 0;
  }
  .doctors {
    margin-top: 24px;
  }
  .doctors h4 {
    margin-bottom: 20px;
  }
  .video img {
    width: calc(100% - 40px);
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .wrapper {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
  .info {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
  }
  .instructions h4,
  .genInstructions h4,
  .questions h4,
  .video h5 {
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
  }
  .highlights .heading h4,
  .ingredients .heading h4 {
    font-size: 16px;
    line-height: 24px;
  }
  .highlights .heading,
  .ingredients .heading {
    margin-left: 20px;
  }
  .activeImage img {
    width: 344px;
    height: 344px;
  }
  .content h3 {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  .rating,
  .cost,
  .tags,
  .options {
    margin-left: 20px;
  }
  .cost {
    margin-bottom: 10px;
  }
  .activeImage .carouselArrow {
    right: 1%;
    top: 45%;
  }
}
@media (max-width: 570px) {
  .reviews {
    margin-left: 0px;
    margin-right: 0px;
  }
  .s1 {
    width: calc(100% - 64px);
    margin-left: 20px;
    margin-right: 20px;
  }
  .reviews h3 {
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
  }
  .doctors h4 {
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
  }
  .moreBtn {
    width: 200px;
    padding: 0;
    margin-bottom: 20px;
  }
  .moreBtn span {
    font-size: 15px;
  }
  .info p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 500px) {
  .options {
    display: none;
  }
  .tags {
    margin-bottom: 20px;
  }
  .contentContainer {
    margin-top: 20px;
  }
  .bottomMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    position: sticky;
    left: 0;
    bottom: -1px;
    box-shadow: 0px 8px 24px 0px #00000026;
    width: calc(100% - 40px);
    z-index: 10000;
    background-color: #fff;
  }
  .bottomMenu button {
    width: 172px;
    height: 52px;
    border-radius: 12px;
    font-family: "NunitoMedium", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #ffffff;
    background: #3a643b;
    text-align: center;
    border: none;
    outline: none;
  }
  .bottomMenu div div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .bottomMenu div div img {
    width: 20px;
    height: 20px;
  }
  .bottomMenu div div h5 {
    font-family: "NunitoMedium", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #0c0c0c;
    margin: 0;
  }
  .bottomMenu span {
    font-family: "NunitoMedium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #646665;
  }
  .moreBtn {
    margin-bottom: 100px;
  }
  .addedSuccess {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100% - 60px);
    margin-left: 30px;
    margin-right: 30px;
    height: 62px;
    gap: 12px;
    border-radius: 12px;
    background: #fef6ed;
    position: fixed;
    left: 0;
    bottom: 80px;
    animation-name: Morph1;
    animation-duration: 1.5s;
  }
  @keyframes Morph1 {
    0% {
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .addedSuccess img {
    width: 32px;
    height: 32px;
    margin-left: 12px;
  }
  .addedSuccess span {
    font-family: "NunitoMedium", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #2e2f2e;
  }
  .viewCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    width: calc(100% - 40px);
    background: #0c140c;
    position: fixed;
    left: 0;
    bottom: 78px;
    animation-name: Morph2;
    animation-duration: 1.5s;
  }
  @keyframes Morph2 {
    0% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .viewCart button {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #ffffff;
    font-family: "NunitoMedium", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #3a643b;
  }
  .infoP1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .infoP1 img {
    width: 32px;
    height: 32px;
  }
  .infoP2 h5 {
    font-family: "NunitoMedium", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin: 0;
    color: #ffffff;
  }
  .infoP3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
  .infoP3 span {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #fafafa;
  }
  .infoP3 div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }
  .separation {
    display: block;
    width: 100%;
    height: 8px;
    background: #fafafa;
  }
  .info {
    margin-bottom: 24px;
  }
  .highlights,
  .instructions,
  .genInstructions,
  .questions,
  .video {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .ingredients {
    margin-top: 24px;
  }
  .ingredientContainer {
    margin-bottom: 24px;
  }
  .video h5 {
    margin-top: 0;
  }
  .reviews h3 {
    margin-top: 24px;
  }
}
@media (max-width: 350px) {
  .activeImage img {
    width: calc(100% - 20px);
  }
  .activeImage .carouselArrow {
    right: 5%;
  }
}
